@import "tailwindcss";

:root {
    --background: #0a152f;
    --foreground: #e0e7ff;
    --card: #111e55;
    --card-foreground: #e0e7ff;
    --popover: #161155;
    --popover-foreground: #e0e7ff;
    --primary: #d952ff;
    --primary-foreground: #ffffff;
    --secondary: #511155;
    --secondary-foreground: #e0e7ff;
    --muted: #0e0a51;
    --muted-foreground: #c3b3ff;
    --accent: #451de7;
    --accent-foreground: #e0e7ff;
    --destructive: #ff3434;
    --destructive-foreground: #ffffff;
    --border: #290075;
    --input: #290075;
    --ring: #8753ff;
    --chart-1: #a586ff;
    --chart-2: #8753ff;
    --chart-3: #7728ff;
    --chart-4: #6505fc;
    --chart-5: #5403d4;
    --sidebar: #0a152f;
    --sidebar-foreground: #e0e7ff;
    --sidebar-primary: #8753ff;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #2a1be7;
    --sidebar-accent-foreground: #e0e7ff;
    --sidebar-border: #290075;
    --sidebar-ring: #8753ff;
    --font-sans: Roboto, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.625rem;
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.2;
    --shadow-color: #7d52ff;
    --shadow-2xs: 2px 2px 4px 0px hsl(254.9133 100% 66.0784% / 0.10);
    --shadow-xs: 2px 2px 4px 0px hsl(254.9133 100% 66.0784% / 0.10);
    --shadow-sm: 2px 2px 4px 0px hsl(254.9133 100% 66.0784% / 0.20), 2px 1px 2px -1px hsl(254.9133 100% 66.0784% / 0.20);
    --shadow: 2px 2px 4px 0px hsl(254.9133 100% 66.0784% / 0.20), 2px 1px 2px -1px hsl(254.9133 100% 66.0784% / 0.20);
    --shadow-md: 2px 2px 4px 0px hsl(254.9133 100% 66.0784% / 0.20), 2px 2px 4px -1px hsl(254.9133 100% 66.0784% / 0.20);
    --shadow-lg: 2px 2px 4px 0px hsl(254.9133 100% 66.0784% / 0.20), 2px 4px 6px -1px hsl(254.9133 100% 66.0784% / 0.20);
    --shadow-xl: 2px 2px 4px 0px hsl(254.9133 100% 66.0784% / 0.20), 2px 8px 10px -1px hsl(254.9133 100% 66.0784% / 0.20);
    --shadow-2xl: 2px 2px 4px 0px hsl(254.9133 100% 66.0784% / 0.50);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}